* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-background-color: rgb(25, 25, 25);
  --card-background-color: rgb(47, 47, 47);
  --section-background-color: rgb(28, 28, 28);
  --card-hover-background-color: rgb(55, 55, 55);
  --main-font-color: rgba(255, 255, 255, 0.81);
  --secondary-font-color: rgb(127, 127, 127);
  --empty-font-color: rgba(255, 255, 255, 0.282);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-size: 14px;
  line-height: 1.5;
  user-select: none;
}

#root > div {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  width: fit-content;
}

a:hover {
  opacity: 0.8;
}

hr {
  background-color: var(--empty-font-color);
  border: none;
  height: 1px;
  width: 100%;
}

img {
  aspect-ratio: .8;
}

::-webkit-scrollbar {
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #474c50;
}

::-webkit-scrollbar-track {
  background: var(--section-background-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--empty-font-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.81) !important;
}
